name: kafka
description: Network consisting of kafka ordering and 2 organizations.
version: '1.0'
client:
  organization: {{ item.org }}
  credentialStore:
    path: ./tmp/keyValStore_v1/{{ item.org }}
    cryptoStore:
      path: ./tmp/keyValStore_v1/{{ item.org }}/keys
    wallet: wallet-name
  connection:
    timeout:
      peer:
        endorser: 60
        eventHub: 60
        eventReg: 3
      orderer: 30

